body {
    box-sizing: border-box;
    font-family: Avenir, Helvetica, sans-serif;
    background: #83a4d4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

#header {
    color: #001021;
    font-size: 3em;
}

#list-input {
    width: 100%;
    margin: 10px 0px;
    border: 0;
    border-bottom: 2px solid #003459;
    padding: 0 5px 5px 10px;
    background: transparent;
}

#list-input:focus {
    outline: 0;
    color: #001021;
}

.btn {
    margin: 10px 5px;
    border-radius: 4px;
    filter: invert(0%);
}

.btn-primary:hover {
    filter: invert(100%);
}

hr {
    border-bottom: 2px solid #00A9A5;
}

ul,li { 
    list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0; 
    vertical-align: middle;
}

.main-list {
    margin-top: 10px;
    text-align: left;
}

.list-item {
    border: 2px solid #001021;
    border-radius: 6px;
    padding: 20px 10px;
    margin: 0 auto 8px auto;
    background: #11B5E4;
    color: #F7F7F7;
    font-size: 1.5em;
    width: 90%;
    box-shadow: 0 0 2px #000000; 
    opacity: 1;
    /*transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);*/
    transition: all 0.4s ease-out;
}


.list-text{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
}

.list-comp {
    display: flex;
    align-items: center;
    margin-right: 1vw;
}

.text-part {
    display: flex;  
    
}

#item-name {
    color: #F7F7F7;
}

#timestamp {
    color: #464646;
    font-size: 0.5em;
}

.fa-minus {
    color: #DB504A;
}